:root {
    --button-blue: hsl(187, 62%, 36%);
    --button-width: 155px;
    --button-height: 55px;
    --bkg-mustard: hsl(38, 71%, 46%);
    --bkg-maroon: hsl(0, 71%, 16%);
    --bkg-white: hsl(240, 100%, 99%);
    --text-light: hsl(0, 0%, 100%);
    --text-maroon: hsl(350, 81%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

address {
    font-style: normal;
}

.contact-info {
    background-color: var(--bkg-maroon);
    padding: 3em 0;
}

.contact-info a {
    color:white;
    line-height: 1.75;
    text-decoration: none;
}

.img-logo {
    display:block;
    width: 100%;
    height: auto;
}

.img-home-mobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-transition {
    display: block;
    width: 100%;
    height: 5px;
}

.img-podcast {
    display: block;
    width: 75%;
    max-width: 35rem;
    min-width: 15rem;
    margin: 0 auto;
    height: auto;
}

.img-dentrix-trainer {
    display: block;
    padding-top: 5em;
    width: 40%;
    max-width: 16rem;
    min-width: 9rem;
    margin: 0 auto;
    height: auto;
}

ol, p, ul, section {
    margin: 1em 0;
    list-style-type: none;
}

.display-desktop {
    display: none;
}

.center-text,
section p {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.cta {
    padding-bottom: 2em;
}

.sec-consulting {
    background-color: var(--bkg-mustard);
    color: var(--bkg-white);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.sec-consulting li {
    text-align: left;
    font-weight: bold;
}

.sec-dentrix {
    padding: 2em;
}

.sec-podcast {
    padding: 3em 1vw;
}

.sec-podcast img {
    border: .1em black solid;
}

.sec-reviews {
    padding: 1em;
    margin-bottom: 0;
}

.sec-reviews section {
    padding: 1em;
}

/* Footer */
/* #region */

footer {
    background-color: var(--bkg-maroon);
    color: var(--text-light);
    padding-top: 3.5em;
}

footer h2 {
    margin-bottom: 2em;
    font-weight: normal;
}

footer a {
    color:white;
    line-height: 1.75;
    text-decoration: none;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85%;
    margin-bottom: 0;
}

footer p span {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-right: 0.5em;
}

footer button {
    margin-bottom: 1.5em;
}

footer address {
    margin-bottom: 3em;
}

/* #endregion */

/* Button rules */
button {
    background-color: var(--button-blue);
    color: var(--text-light);
    width: var(--button-width);
    height: var(--button-height);
    font-size: 1.15em;
    border: none;
    border-radius: 2.5em;
    text-transform: uppercase;
}

button:hover {
    color: var(--button-blue);
    border: 2px solid var(--button-blue);
    background-color: var(--text-light);
}

.btn-sched-chat,
.btn-sched-dentrix {
    font-size: 1.2em;
    width: auto;
    padding: 0.75em;
}

/* TYPOGRAPHY */
body {
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.cta p {
    font-size: 1.2rem;
}

/* NAVIGATION */

.nav-site a {
    color: var(--text-maroon);
    text-decoration: none;
}

.menu-toggle,
.menu-toggle:hover {
    background-color: #fff;
    color: var(--text-maroon);
    border: solid red 1px;
    border-radius: 0;
    font-size: 1.75em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 37.5em){
    button {
        --button-width: 267px;
        --button-height: 92px;
    }
    .display-desktop {
    display: block;
    position:absolute;
    top: 20em;
    left: 10%;
    }
    .img-logo {
        display:block;
        width: 25%;
        height: auto;
    }
}