:root {
    --button-blue: hsl(187, 62%, 36%);
    --button-width: 155px;
    --button-height: 55px;
    --bkg-mustard: hsl(38, 71%, 46%);
    --bkg-maroon: hsl(0, 71%, 16%);
    --bkg-white: hsl(240, 100%, 99%);
    --text-light: hsl(0, 0%, 100%);
    --text-maroon: hsl(350, 81%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.page-frame {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    border: solid 1px var(--bkg-maroon);
}

address {
    font-style: normal;
}

.contact-info {
    background-color: var(--bkg-maroon);
    padding: 3em 0;
}

.contact-info a {
    color: white;
    line-height: 1.75;
    text-decoration: none;
}

.img-logo {
    display: block;
    width: 100%;
    height: auto;
}

.img-home-mobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-transition {
    display: block;
    width: 100%;
    height: 5px;
}

.img-podcast {
    display: block;
    width: 75%;
    max-width: 35rem;
    min-width: 15rem;
    margin: 0 auto;
    height: auto;
}

.img-dentrix-trainer {
    display: block;
    padding-top: 5em;
    width: 40%;
    max-width: 16rem;
    min-width: 9rem;
    margin: 0 auto;
    height: auto;
}

ol,
p,
ul,
section {
    margin: 1em 0;
    list-style-type: none;
}

div li,
div p {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.img-hero {
    position: relative;
}

.cta {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media screen and (min-width: 46em) {
    .cta {
        /* width: 350px; */
        width: 35%;
        position: absolute;
        top: 20vw;
        left: 5vw;
        padding-block: 1.5em;
    }
}

.sec-consulting {
    background-color: var(--bkg-mustard);
    color: var(--bkg-white);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.sec-consulting li {
    font-weight: bold;
    padding-bottom: 0.25em;
}

@media screen and (min-width: 50em) {
    .sec-consulting {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sec-consulting ul {
        grid-row: 1 / 3;
    }

    .sec-consulting li {
        padding-bottom: 0.75em;
    }

    .sec-consulting button {
        grid-column: 1 / -1;
        grid-row: 3;
        width: 15ch;
        margin: 0 auto;
    }
}

.sec-dentrix {
    padding: 2em;
}

.sec-podcast {
    padding: 6em 0;
}

.sec-podcast img {
    border: .1em black solid;
}

.sec-reviews {
    padding: 1.25em;
    margin: 0;
    background-color: var(--bkg-maroon);
    color: white;
}

.sec-reviews h2 {
    font-size: 2.5em;
    margin-block: 1em 1.5em;
}

.sec-reviews h3 {
    font-style: italic;
}

.sec-reviews article {
    padding: 0 2em 1em;
}

.sizzle {
    position: relative;
}

.sizzle::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3em;
    background-image: url('/img/sizzle_bar.jpg');
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    content: "";
}

.img-hero .sizzle::before {
    display: none;
}

@media screen and (min-width: 46em) {
    .img-hero .sizzle::before {
        display: block;
    }
}

/* Footer */
/* #region */

footer div {
    padding: 1em 0;
    background-color: var(--bkg-maroon);
    color: var(--text-light);
    margin-inline: auto;
}

footer .logo {
    display: none;
}

footer h2 {
    margin-bottom: 1em;
    font-weight: normal;
}

.contact a {
    color: white;
    line-height: 1.75;
    text-decoration: none;
}

@media screen and (min-width: 950px) {
    footer {
        display: flex;
        background-color: var(--bkg-maroon);
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: center;
    }

    /* Turn on the logo. */
    footer .logo {
        display: block;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
    }
}

/* #endregion */

/* Button rules */
button {
    appearance: none;
    background: none;
    border: solid 1px var(--button-blue);
    outline: none;
    color: var(--text-light);
    background-color: var(--button-blue);
    font-size: 1.15em;
    border-radius: 2.5em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    color: var(--button-blue);
    border: 1px solid var(--button-blue);
    background-color: var(--text-light);
}

button a {
    text-decoration: none;
    color: var(--text-light);
}

.btn-sched-chat,
.btn-sched-dentrix,
.btn-learn-more {
    font-size: 1.2em;
    width: auto;
    padding: 0.75em;
    margin-bottom: 1em;
}

/* TYPOGRAPHY */
body {
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.cta p {
    font-size: 1.2rem;
}

.sec-reviews article {
    font-size: 125%;
}

.sec-reviews p {
    line-height: 1.6;
}

/* NAVIGATION */

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--bkg-maroon);
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    height: 0;
    text-align: center;
    transition: 0.3s;
    background-color: var(--bkg-maroon);
}

.nav-menu li {
    margin: 0.5em 0;
    list-style-type: none;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu.active {
    position: static;
    height: auto;
    margin: 0;
}

@media screen and (min-width: 46em) {
    .hamburger {
        display: none;
    }

    .nav-site {
        width: 100%;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        height: unset;
        transition: unset;
    }

    .nav-menu li {
        flex-grow: 1;
        margin: 0;
    }

    .nav-menu a {
        padding: 0.5em;
        font-size: clamp(.85em, calc(1vw + 6px), 1.1em);
        color: var(--text-light);
    }

}

/* MEDIA QUERIES */

@media screen and (min-width: 46em) {
    .page-header {
        display: flex;
        background-color: var(--bkg-maroon);
        align-items: center;
    }

    .page-header img {
        min-width: 250px;
    }

    .contact-info {
        display: none;
    }

    header .img-logo {
        display: block;
        width: 25%;
        height: auto;
    }
}